body {
		background-color: #40E0D0;
		color: white;
}
.container {
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	max-width: 1400px;
	max-height: 1300px;	
	margin: 0 auto;
	font-family: roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex {
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about_project {
	width: 95%;
	height: 80%;
	display: grid;
	grid-template-columns:repeat(2,1fr); 
	grid-template-rows:repeat(2,1fr);

	
}
h1 {
	color: white;
}
h2 {
	font-size: 15pt;
	color: white;

}
.h2 {
	padding-left: 20px;
}
.div{
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: flex;
	align-items: center;
}
.video {
	width: 500px;
		height: 325px;
		display: flex;
		align-items: center;
		justify-content: center;
}
.text  {
	width: 100%;
		height: 65%;
}

.info_project {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	display: flex;
	align-items: center;
}
.about1 {
	width:80%;
	height: 40px;
	padding-left: 20px;
}

.about2 {
	width:80%;
	height: 50px;
	padding-left: 20px;
}

.about3 {
	width:80%;
	height:80px;
}
.flex2 {
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 5px;
}
.tech1 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech2 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech3 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.about4 {
	width: 30%;
	height: 50px;
	padding-left: 10px;
	margin-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exit {
	width: 90%;
	height: 40px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
a {
	color: black;
	text-decoration: none;
}
/*
.icon {
	width: 25px;
	height: 25px;
}*/
@media (max-width: 1100px) {
	.tech1 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
.tech2 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
.tech3 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
}
@media (max-width: 1100px) {
	.tech1 {
	width: 90px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech2 {
	width: 90px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech3 {
	width: 90px;
	height: 30px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

@media (max-width: 800px) {
	body {
		background-color: #40E0D0;
		color: white;
}
.container {
	width: 80%;
	height: 110vh;
	margin: 0 auto;
	font-family: roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex {
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about_project {
	width: 95%;
	height: 80%;
	display: grid;
	grid-template-columns:repeat(2,1fr); 
	grid-template-rows:repeat(2,1fr);

	
}
h1 {
	color: white;
}
h2 {
	font-size: 15pt;
	color: white;

}
.h2 {
	padding-left: 20px;
}
.div{
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: flex;
	align-items: center;
}
.video {
	width: 100%;
		height: 40%;
}
.text  {
	width: 100%;
		height: 65%;
}

.info_project {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	display: flex;
	align-items: center;
	margin-top: 100px;
	font-size: 11pt;
}
.about1 {
	width:80%;
	height: 50px;
	padding-left: 20px;
}

.about2 {
	width:80%;
	height: 50px;
	padding-left: 20px;
}

.about3 {
	width:80%;
	height:90px;
	font-size: 13pt;
}
.flex2 {
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 5px;
}
.tech1 {
	width: 80px;
	height: 40px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
.tech2 {
	width: 80px;
	height: 40px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}
.tech3 {
	width: 80px;
	height: 40px;
	background-color:#FF8B40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
}

.about4 {
	width: 30%;
	height: 20px;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exit {
	width: 90%;
	height: 40px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
a {
	color: black;
	text-decoration: none;
}
}
@media (max-width: 600px) {
	body {
		background-color: #40E0D0;
		color: white;
}
.container {
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	font-family: roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex {
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about_project {
	width: 95%;
	height: 80%;
	display: grid;
	grid-template-columns:repeat(2,1fr); 
	grid-template-rows:repeat(4,1fr);

	
}
h1 {
	color: white;
	font-size: 13pt;
	text-align: center;
}
h2 {
	font-size: 15pt;
	color: white;

}
.h2 {
	padding-left: 20px;
}
.div{
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	display: flex;
	align-items: center;
}
.video {
	width: 100%;
		height: 65%;
}
.text  {
	width: 100%;
		height: 65%;
}

.info_project {
	grid-column: 1 / 3;
	grid-row: 2 / 5;
	display: flex;
	align-items: center;
}
.about1 {
	width:80%;
	height: 50px;
	padding-left: 20px;
	font-size: 12pt;
}

.about2 {
	width:80%;
	height: 80px;
	padding-left: 20px;
	font-size: 12pt;
}

.about3 {
	width:80%;
	height:100px;
}
.flex2 {
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 5px;
}
.tech1 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	font-size: 9pt;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech2 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	font-size: 9pt;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.tech3 {
	width: 100px;
	height: 30px;
	background-color:#FF8B40;
	font-size: 9pt;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.about4 {
	width: 30%;
	height: 50px;
	padding-left: 10px;
	margin-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exit {
	width: 90%;
	height: 40px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 9pt;
}
a {
	color: black;
	text-decoration: none;
}
}
}